<!DOCTYPE html>

{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Search Engine-->
    <title>Myles Nguyen // Web &amp; Interaction Designer</title>
    <meta name="description" content="An award-losing web designer trying to make a living off interactive, unique, bold designs."/>
    <!-- Schema.org-->
    <meta itemprop="name" content="Myles Nguyen // Web &amp; Interaction Designer"/>
    <meta itemprop="description" content="An award-losing web designer trying to make a living off interactive, unique, bold designs."/>
    <!-- Twitter-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Myles Nguyen // Web &amp; Interaction Designer"/>
    <meta name="twitter:description" content="An award-losing web designer trying to make a living off interactive, unique, bold designs."/>
    <meta name="twitter:site" content="@MylesWay_"/>
    <meta name="twitter:creator" content="@MylesWay_"/>
    <meta name="twitter:image:src" content="https://mylesnguyen.com/img/thumbnail.jpg"/>
    <!-- Open Graph general-->
    <meta name="og:title" content="Myles Nguyen // Web &amp; Interaction Designer"/>
    <meta name="og:description" content="An award-losing web designer trying to make a living off interactive, unique, bold designs."/>
    <meta name="og:image" content="https://mylesnguyen.com/img/thumbnail.jpg"/>
    <meta name="og:url" content="https://mylesnguyen.com"/>
    <meta name="og:site_name" content="Myles Nguyen // Web &amp; Interaction Designer"/>
    <meta name="og:type" content="website"/>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="manifest" href="site.webmanifest.html">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  </head>
  <body class="no-js">
    <div class="screen-loader">
      <div class="screen-loader__text">Hang on there</div>
      <div class="progress">
        <div class="progress__present"></div>
        <div class="progress__holder"></div>
      </div>
    </div>
    <script>
      (function() {
      	document.body.classList.remove('no-js');
      	var perfData = window.performance.timing,
      		EstimatedTime = -(perfData.loadEventEnd - perfData.navigationStart),
      		loadingTime = parseInt((EstimatedTime/1000)%60)*100;
      	var progressBar = document.getElementsByClassName('progress__present')[0];
      	progressBar.style.transition  = 'width ' + loadingTime + 'ms cubic-bezier(0.215, 0.61, 0.355, 1)';
      	progressBar.style.width = progressBar.parentElement.offsetWidth * 0.9 + 'px';
      })();
      
    </script>
    <header class="header">
      <div class="logo clickable" data-direction="0"></div>
      <div class="navigation">
        <div class="scrollbar">
          <div class="clickable virgin" id="scrollbar__thumb"><span class="text--small">Hello !</span></div>
        </div>
      </div>
    </header>
    <div id="rendered">
      <div id="canvas"></div>
    </div>
    <div id="cursor"><span class="cursor__text">View on Behance</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none">
        <circle class="progress" stroke-width="1" stroke="#1A1A1A" cx="32" cy="32" r="29.5"></circle>
      </svg>
    </div>


    
    <div id="page">
      <div class="section section--front current" data-label="Hello !">
        <div class="col reserved-space"></div>
        <div class="col title-wrap">
          <h1 class="col__item title text--giant text--bold">&nbsp;<span class="title__text plane">_Website</span>&nbsp;<span class="title__text plane">Portfolio</span></h1>
        </div>
        <div class="col cta-wrap">  
        </div>
        <button class="section__nav section__nav--right noselect clickable" style="top: 90%;left:850px;"><span class="text--giant text--bold">V</button>
      </div>


      <div class="section section--work" data-label="Prank">
        <div class="col project-wrap">
          <div class="col__item project">
            <div class="project__count"><span class="project__count-current reveal"></span><span class="project__count-total reveal"></span></div><a class="project__image noselect" target="_blank" href="/">
              <div class="project__image-container plane plane--media"><img src="{% static 'img/rofl.png'%}" alt="Status PR project cover"/>
                <video data-src="https://mylesnguyen.com/img/statuspr.mp4"></video>
                <noscript><img src="{% static 'img/rofl.png'%}" alt="Status PR project cover"/>
                  <video src="img/statuspr.mp4" muted="muted" autoplay="autoplay" loop="loop" preload="preload"></video>
                </noscript>
              </div></a>
            <div class="project__meta">
              <h3 class="project__meta-title plane">Xex classik</h3>
            </div>
          </div>
        </div>
        <button class="section__nav section__nav--left noselect clickable"><span class="text--giant text--bold"><span><</span></span></button>
        <button class="section__nav section__nav--right noselect clickable"><span class="text--giant text--bold"><span>></span></span></button>
      </div>
      {% if kolvo > 0 %}
      {% for progekt in progekts %}

      <div class="section section--work" data-label="{{ progekt.name }}">
        <div class="col project-wrap">
          <div class="col__item project">
            <div class="project__count">
              <span class="project__count-current reveal"> 1</span>
              <span class="project__count-total reveal">/ {{ kolvo }}</span>
            </div>
            <a class="project__image noselect" target="_blank" href="{{ progekt.utl_git}}">
              <div class="project__image-container plane plane--media"><img src= "{{ progekt.photo }}" alt="Status PR project cover"/>
                <noscript>
                  <img src= "{{ progekt.photo }}" alt="{{ progekt.name }}"/>
                </noscript>
              </div></a>
            <div class="project__meta">
              <h3 class="project__meta-title plane">{{ progekt.opis }}</h3>
            </div>
          </div>
        </div>
        <button class="section__nav section__nav--left noselect clickable"><span class="text--giant text--bold"><span><</span></span></button>
        <button class="section__nav section__nav--right noselect clickable"><span class="text--giant text--bold"><span>></span></span></button>
      </div>

      {% endfor %}
      {% endif %}
      <div class="section section--quote" data-label="Brains">
        <div class="col">
          <div class="col__item quote-wrap">
            <div class="quote">
              <div class="intro-text text--regular"><span class="reveal">A biased quote </span><span class="reveal">To make me look smart</span><span class="reveal">— or like a moron</span></div>
              <div class="statue">
                <div class="statue__img"><img data-src="https://mylesnguyen.com/img/statue.png" alt="David statue head" data-sampler="statueTexture">
                  <noscript><img src="img/statue.png" alt="David statue head"></noscript><img class="map" data-src="https://mylesnguyen.com/img/statue_map.jpg" data-sampler="statueMapTexture">
                </div>
                <div id="canvas-statue"></div>
                <div class="statue__text-wrap text--small"><span class="statue__text">This trendy statue head is floating around here for absolutely no reason — </span></div>
              </div>
              <div class="quote__text"><span class="plane">Art</span><span class="plane">is like a</span><span class="plane">—fart.</span><span class="align-right plane">If you—</span>
                <div class="align-right">
                  <div>—–</div>
                  <div><span class="plane">force it,</span><span class="plane">It’s</span><span class="plane">probrably</span></div>
                </div><span class="align-right plane">crap.</span><span class="quote-mark quote-mark--open plane">“</span><span class="quote-mark quote-mark--close plane">”</span>
              </div>
            </div>
          </div>
        </div>
        <button class="section__nav section__nav--left noselect clickable"><span class="text--giant text--bold"><span><</span></span></button>
        <button class="section__nav section__nav--right noselect clickable"><span class="text--giant text--bold"><span>></span></span></button>
      </div>
      <div class="section section--end" data-label="That's it">
        <div class="col cta-wrap">
          <div class="col__item cta">
            <div class="cta__title text--big">Связь</div>
            <div class="cta__reference">Telegram : <a class="link" href="https://t.me/colobok2002">@colobok2002</a></div>
            <div class="cta__reference">Mail : <a class="link" href="mailto:ilya.bv.2002@bk.ru">ilya.bv.2002@bk.ru</a></div>
            <div class="cta__deco"> <span class="plane vert">tou</span><span class="plane vert">ché</span></div>
          </div>
        </div>
        <button class="section__nav section__nav--left noselect clickable"><span class="text--giant text--bold"><span><</span></span></button>
  
      </div>
    </div>  
    <footer class="footer">
      <div class="stalking">
        <div class="stalking__text"><span>Prod by Ilya Barinov</span></div>
        
      </div>
      <div class="contact"></div>
    </footer>
    <div class="page-bg plane"></div><img id="pattern" src="{% static 'img/2.jpg' %}">
    <footer>
      <script src="{% static 'js/main.js' %}"></script>
      <!-- Global site tag (gtag.js) - Google Analytics-->
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-125996448-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-125996448-2');
      </script>
    </footer>
  </body>
</html>